pandas
numpy
openpyxl
lxml
html5lib
requests
cryptography
python-dotenv
yfinance
tqdm
akshare
pykrx
tokyo-stock-exchange
finance-datareader  # 💡 修正：使用全小寫與連字號
resend
pyarrow
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
